.container {
  position: relative;
  text-align: center;
  color: rgb(45, 45, 45);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  font-weight: bolder;
}

.mosaic {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 15px;
  margin: auto;
}

.card {
  margin: auto;
  width: 70%;
  padding: 10px;
}

img {
  opacity: 0.4;
}


