.card-img {
    width: 30em;
    height: 30em;
}

.card-deck {
    display: flex;
    flex-direction: 'row';
    justify-content: space-around;
    align-items: center;
}

.card {
    width: '30rem';
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h3 {
    font-family: inherit;
}