.card_img {
    width: 100%;
}

.card_deck {
    display: flex;
    flex-direction: 'row';
    justify-content: space-around;
    align-items: center;
}

.card {
    background-color: white;
    font-family: inherit;
    width: 20em;
    height: 30em;
}

.cardText {
    background-color: white;
    font-family: Roboto, sans-serif;
    width: 20em;
    padding: .75em;
}