.flexContainer > div {
    display: flex;
    flex-direction: column; 
    max-width: 30%;
}
  
.flexContainer {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.timelineSection > h2 {
    margin-left: 10%;
}

.FAQSection > h2 {
    margin-left: 25%
}

.button {
    width: 260px;
    height: 68px;
    background: rgba(60, 122, 186, 1);
    border-radius: 10px;
    color: white;
}