.flexContainer > div {
    display: flex;
    flex-direction: column; 
    width: 700px;
    max-width: 75%;
    text-align: center;
}
  
.flexContainer {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.timelineSection > h2 {
    margin-left: 30%;
}

.FAQSection > h2 {
    margin-left: 25%
}

.button {
    width: 260px;
    height: 68px;
    background: rgba(60, 122, 186, 1);
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background: rgba(6, 87, 152, 1);
    color: white;

}