.timelineContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;
}

.timelineContainer::after {
    background-color:  rgba(23, 42, 58, 1);
    content: '';
    position: absolute;
    left: calc(30% - 2px);
    width: 4px;
    height: 100%;
}

.timelineItem {
    display: absolute;
    justify-content: flex-start;
    left: calc(30% + 40px);
    padding-right: 30px;
    position: relative;
    margin: 10px 0;
    width: 50%;

}

.timelineItemContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    position: relative;
    width: 700px;
    max-width: 70%;
    text-align: left;
    
}

.timelineItemContent .circle {
    background-color: rgba(23, 42, 58, 1);
    border: 3px solid rgba(23, 42, 58, 1);
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    left: -48px;
    width: 15px;
    height: 15px;
    z-index: 100;
}