

/* general font size, modify by editing weight in url under different css pages*/
div{
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
}
body {
  background-image: url("./background.PNG");
    background-size: cover;
}
